html, body {
    height: 100%;
}
body {
    padding-top: 50px;
    font-family: Open sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }


/*Bootstrap Overrides*/


.form-control:focus {
    -webkit-box-shadow: none;
    border-color: #2196f3;
    box-shadow: none;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-nav .notifications {
    position: relative;
}

    .navbar-nav .notifications .badge {
        position: absolute;
        top: 8px;
        left: 26px;
        font-size: 9px;
    }

.navbar-brand { font-weight: 700; }

/*Page-level styles*/

.wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

.footer {
  height: 50px;
  /*background-color: #f8f8f8;*/
}
 .form-addrecord { margin-top: 20px; }
 
.inputsline {
     text-align: center;
 }

.projectDetails > .title {
    font-size: 15px; 
}

.projectDetails > .description {
    font-size: 12px;
    margin-left: 20px;
}

.editLink {
    font-size: 12px;
    display: none;
}

.myprojects > tr:hover .editLink {
    display: block;
}

.deletelink {
    display: none;
}

.records > tr:hover .deletelink {
    display: block;
}

.strikethrogh {
    text-decoration: line-through;
}

ul.notifications {
    list-style: none;
    padding-left: 0;    
}

ul.notifications > li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

ul.notifications > li:last-child {
    border-bottom: none;
}

ul.notifications .highlight {
    font-weight: bold;
}

.popover-content {
  height: auto;
  max-height: 300px;
  overflow-y: auto;
}

.popover-content a{
    width: 100%;
    padding: 0;
}

.gap-10 {
    width: 100%;
    height: 10px;
}

.gap-20 {
    width: 100%;
    height: 20px;
}

.gap-30 {
    width: 100%;
    height: 30px;
}
.gap-60 {
    height: 60px;
}
.error {
    border-color: #a94442;
}
#errorBox ul {
    list-style: none;
    padding: 0;
}
    #errorBox ul li label{
        margin: 0;
    }