body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Bootstrap Overrides*/

body {
    font-size: 14px;
    font-family: Open sans,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*#hours {
    width: 70px;
}

#date {
    width: 160px;
}*/

/*.form-group-workDescription {
    max-width: 600px;
    width: 100%;
}
#workDescription {
    width: 100%;
}*/
.form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-brand {
    font-weight: 700;
}

#recordForm {
    padding-top: 30px;
}