body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }


/*Bootstrap Overrides*/

body {
    font-family: Open sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    border-color: #2196f3;
    box-shadow: none;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}



.navbar-brand { font-weight: 700; }

#recordForm { padding-top: 30px; }

/*Page-level styles*/

.projectDetails > .title {
    font-size: 15px; 
}

.projectDetails > .description {
    font-size: 12px;
    margin-left: 20px;
}

.editLink {
    font-size: 12px;
    display: none;
}


.myprojects > tr:hover .editLink {
    display: block;
}