@model IEnumerable<TimestampsWeb.ViewModels.ProjectWithCreatorViewModel>
@{
    ViewBag.Title = "FindProject";
}

<h2>Find Project</h2>

<table class="table table-hover">
    <tbody class="projects">
        @foreach (var project in Model) {
            <tr>
                <td>
                    <div class="projectDetails">
                        <div class="title">@project.Title</div>
                        <div class="description">@project.Description</div>
                    </div>
                </td>
                <td>@project.CreatorName</td>
                <td>
                    <div class="takePart">
                        <button data-project-id="@project.Id" class="btn btn-info btn-sm js-toggle-takepart">Join?</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-takepart").click(function(e) {
                var button = $(e.target);
                $.post("/api/ProjectNominations", { ProjectId: button.attr("data-project-id") })
                    .done(function() {
                        button.removeClass("btn-info").addClass("btn-success").text("Work on");
                    })
                    .fail(function() {
                        alert("Faild to register to work on this project.");
                    });
            });
        });
    </script>
}
