@model TimestampsWeb.ViewModels.HourageViewModel
@{
    ViewBag.Title = "Timesheet";
}

<div class="gap-60"></div>

<form class="form-inline form-addrecord" id="recordForm">
    <div class="inputsline">
        <div class="row">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="sr-only" for="workDescription">Description</label>
                <input type="text" class="form-control" id="workDescription" placeholder="Description">
            </div>
            <div class="form-group">
                <label class="sr-only" for="project">Password</label>
                @Html.DropDownList("projectId", ViewBag.UserProjects as SelectList, "-Select project-" ,new { @class = "form-control", id = "project" })
            </div>
            <div class="form-group">
                <label class="sr-only" for="date">Date</label>
                <input type="date" class="form-control" id="date" placeholder="Date">
            </div>
            <div class="form-group">
                <label class="sr-only" for="hours">Hours</label>
                <input type="text" class="form-control" id="hours" placeholder="Hours">
            </div>
            <div class="form-group">
                <button id="addRecord" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

<div class="gap-30"></div>

<div id="TimesheetContainer">
    <table id="Timesheet" class="table">
        <thead>
            <tr>
                <th>Work descritpion</th>
                <th>Project</th>
                <th>Date</th>
                <th>Hours</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<div class="gap-60"></div>

@section scripts{
    <script type="text/javascript">
        $(document)
            .ready(function() {
                houragesController.loadRecordsList()
                    .done(function() {
                        $("a.js-delete-record").click(deleteRecord);
                    })
                    .fail(function() {
                        alert("Fail to load records.");
                    });
                $("#addRecord").click(function(e) {
                    e.preventDefault();
                    houragesController.appendRecordToList(deleteRecord);
                    clearInputs();
                });
            });

        function deleteRecord(event) {
            event.preventDefault();
            var link = $(event.target);
            var recordId = link.parent().attr("data-record-id");
            if (recordId == null) {
                alert("Failed to delete record. Try again.");
                return;
            }
            if (confirm("Are you sure you want to delete this record?")) {
                $.ajax({
                    url: "/api/Timesheet/" + recordId,
                    method: "DELETE"
                })
                    .done(function () {
                        link.parents('tr').fadeOut(function () {
                            $(this).remove();
                        });
                    })
                    .fail(function () {
                        alert("Failed to delete record.");
                    });
            }
        };

        function clearInputs() {
            $('#workDescription').val("");
            $('#project option:selected').removeAttr('selected');
            $('#date').val("");
            $('#hours').val("");
        }
    </script>
}