@model TimestampsWeb.ViewModels.HourageViewModel
@{
    ViewBag.Title = "Timesheet";
}
<div class="gap-60"></div>
<form class="form-inline form-addrecord" id="recordForm">

    <div class="inputsline">
        <div class="row">
            <div class="form-group">
                <label class="sr-only" for="workDescription">Description</label>
                <input type="text" class="form-control" id="workDescription" name="workDescription" placeholder="Description">
            </div>
            <div class="form-group">
                <label class="sr-only" for="projectId">Password</label>
                @{ Html.EnableClientValidation(false); }
                @Html.DropDownList("projectId", ViewBag.UserProjects as SelectList, "-Select project-", new { @class = "form-control", id = "project" })
                @{ Html.EnableClientValidation(true); }
            </div>
            <div class="form-group">
                <label class="sr-only" for="date">Date</label>
                <input type="text" class="form-control" id="date" name="workdate" placeholder="Date">
            </div>
            <div class="form-group">
                <label class="sr-only" for="hours">Hours</label>
                <input type="text" class="form-control" id="hours" name="hours" placeholder="Hours">
            </div>
            <div class="form-group">
                <button id="addRecord" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div id="errorBox" class="text-danger">
            <ul></ul>
        </div>

    </div>
</form>

<div class="gap-30"></div>

<div id="TimesheetContainer">
    <table id="Timesheet" class="table">
        <thead>
            <tr>
                <th>Work description</th>
                <th>Project</th>
                <th>Date</th>
                <th>Hours</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<div class="gap-60"></div>


@section scripts{
    @Scripts.Render("~/bundles/ui")
    <script type="text/javascript">
        $(document)
            .ready(function() {

                houragesController.loadRecordsList()
                    .done(function() {
                        $("a.js-delete-record").click(deleteRecord);
                    })
                    .fail(function() {
                        bootbox.alert("Fail to load records.");
                    });

                $("#addRecord").click(function (e) {
                    var cb = function() {
                        houragesController.appendRecordToList(deleteRecord);
                    }
                    houragesController.validateRecordForm(cb, "#errorBox ul");
                });
                $('#date').datepicker();
            });

        function deleteRecord(event) {
            event.preventDefault();
            var link = $(event.target);
            var recordId = link.parent().attr("data-record-id");
            if (recordId == null) {
                bootbox.alert("Failed to delete record. Try again.");
                return;
            }
            bootbox.confirm("Are you sure you want to delete this record?",
                function(result) {
                    if (!result) {
                        return;
                    }
                    TimesheetService.deleteRecord(recordId,
                        function () {
                            link.parents('tr').fadeOut(function() {
                                $(this).remove();
                            });
                        },
                        function() {
                            bootbox.alert("Failed to delete record.");
                        });
                });
        };
    </script>
@Scripts.Render("~/bundles/jqueryval")
}