@model TimestampsWeb.ViewModels.HourageViewModel
@{
    ViewBag.Title = "Timesheet";
}

<div class="gap-60"></div>

<form class="form-inline form-addrecord" id="recordForm">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="sr-only" for="workDescription">Description</label>
        <input type="text" class="form-control" id="workDescription" placeholder="Description">
    </div>
    <div class="form-group">
        <label class="sr-only" for="project">Password</label>
        @Html.DropDownList("projectId", ViewBag.ProjectId as SelectList, new { @class = "form-control", id = "project" })
    </div>
    <div class="form-group">
        <label class="sr-only" for="date">Date</label>
        <input type="date" class="form-control" id="date" placeholder="Date">
    </div>
    <div class="form-group">
        <label class="sr-only" for="hours">Hours</label>
        <input type="text" class="form-control" id="hours" placeholder="Hours">
    </div>
    <button id="addRecord" type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="gap-30"></div>

<div id="TimesheetContainer">
    <table id="Timesheet" class="table">
        <thead>
            <tr>
                <th>Work descritpion</th>
                <th>Project</th>
                <th>Date</th>
                <th>Hours</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<div class="gap-60"></div>

@section scripts{
    <script type="text/javascript">
        $(document)
            .ready(function () {
                houragesController.loadRecordsList(renderContent).done(renderContent);
                $("#addRecord").click(function (e) {
                    e.preventDefault();
                    houragesController.appendRecordToList();
                });

            });


        function renderContent(records) {
            $("a.js-delete-record").click(
                     function (e) {
                         e.preventDefault();
                         var link = $(e.target);
                         if (confirm("Are you sure you want to delete this record?")) {
                             $.ajax({
                                 url: "/api/Timesheet/" + link.parent().attr("data-record-id"),
                                 method: "DELETE"
                             })
                                 .done(function () {
                                     link.parents('tr').fadeOut(function () {
                                         $(this).remove();
                                     });
                                 })
                                 .fail(function () {
                                     alert("Something failed.");
                                 });
                         }
                     });
        }
    </script>
}